.theme-btn {
  cursor: pointer;
  width: 130px;
  height: 50px;
  background: #485460;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
  letter-spacing: -0.88px;
  color: #ffffff;
  border: none;
}

.theme-btn:hover {
  background: #596275;
}
