.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.contact {
  h1 {
    padding-bottom: 50px;
  }
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact-form .contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
}

.contact-form .contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
}

.contact-form .contact-box .contact-icon {
  width: 100px;
  padding-bottom: 40px;
}

.contact-form .contact-box .s-media {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.contact-box {
  img {
    width: 30px;
  }
}

.s-media {
  p {
    margin: 0;
  }
}

/* Media query for screens smaller than or equal to 768px */
@media (max-width: 768px) {
  /* Change to a column layout on a smaller screen */
  .contact-form {
    flex-direction: column;
  }

  .contact-form .contact-box {
    width: 100%; /* Boxes with full width on a smaller screen */
    max-width: none; /* Remove the maximum width */
  }
}
