.about-us {
  display: grid;
  grid-auto-flow: column;
  padding: 40px;
  gap: 60px;
}

.intro h1 {
  padding-bottom: 40px;
}

.quote-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-photo img {
  border-radius: 30px;
}
